body{
	text-align: center;
	background-color: rebeccapurple;
	background-size: cover;
    background-image: url(../image/background.jpg);
}
h1{
	font-weight: 200;
}
p {
	font-size: 14px;
	font-weight: 200;
}
.input_out{width:60px;height:30px;border:1px solid #CCC;background-color:#FFF;}
.input_move{width:60px;height:30px;border:1px solid #CCC;background-color:#FFFFCC;}

input[type=text],input[type=password],input[type=tel] {
  width: 25%;
  height: 2.225rem;
  padding: 12px 20px;
  outline-style: none;
  border-radius: 5px;
  border: 2px solid white;
 /* border-color: white; */
  box-sizing: border-box;
}
input[type=button],input[type=submit] {
  width: 25%;
  font-size: medium;
  background-color: #0000ff;
  color: white;
  outline-style: none;
  padding: 14px 20px;
  border: 0rem;
  border-radius: 5px;

}
div {
  border-radius: 5px;
  padding: 10px;
  margin: 8px 0;
}
a {
    text-align: center;
    color: blue;
    cursor: pointer;     /* 鼠标样式*/
    text-decoration: none;
    font-size: 14px;
}
a:link { color: #06F; text-decoration: none; }/* 未访问的链接 */
a:visited { color:#7FFFAA; text-decoration: line-through; } /* 已访问的链接 */
a:hover { color: #F00; text-decoration: underline; }/* 鼠标移动到链接上 */
a:active { color: #F0F; } /* 选定的链接 */
table {
    margin: 60px auto;
    border-collapse: collapse;
    border-spacing: 0;
}

td,th {
    padding: 0;
}

.pure-table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

.pure-table caption {
    color: #000;
    font: italic 85%/1 arial,sans-serif;
    padding: 1em 0;
    text-align: center;
}

.pure-table td,.pure-table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: .5em 1em;
}

.pure-table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

.pure-table td {
    background-color: transparent;
}

.pure-table-bordered td {
    border-bottom: 1px solid #cbcbcb;
}

.pure-table-bordered tbody>tr:last-child>td {
    border-bottom-width: 0;
}